<div>
  <div class="row">
      <div class="col-md-1 pull-left">
        <label>User Name</label> 
      </div>
      <div class="col-md-6 pull-left">
        <input type ="text" [(ngModel)]="userName" />
      </div>
    </div>
    <div class="row">
        <div class="col-md-1 pull-left">
          <label>Password</label> 
        </div>
        <div class="col-md-6 pull-left">
          <input type="text" [(ngModel)]="password"/>
        </div>
      </div>  
      <div class="row">
          <div class="col-md-12">
            <input type="submit" (click)="validate()"/>
          </div>
        </div>
        
        <div class="row"> 
          <div class="col-md-12">
              <label [style.color] ="colr">{{message}}</label>
          </div>
        </div>
     

</div>